In [147]:
import pandas as pd
import numpy as np

## Data EDA

In [148]:
#This dataset is super large, need to set low_memory=False, took aroud 30 min to run this line
#Only import relevant columns
fields = ['Rndrng_NPI','Rndrng_Prvdr_Mdcr_Prtcptg_Ind','HCPCS_Cd','Tot_Srvcs','Avg_Sbmtd_Chrg']
df = pd.read_csv("Medicare_Physician_Other_Practitioners_by_Provider_and_Service_2019.csv",encoding='latin-1', low_memory=False, usecols=fields)

In [149]:
df.head()

,Rndrng_NPI,Rndrng_Prvdr_Mdcr_Prtcptg_Ind,HCPCS_Cd,Tot_Srvcs,Avg_Sbmtd_Chrg
0,1003000126,Y,99217,40.0,232.275000
1,1003000126,Y,99220,25.0,712.800000
2,1003000126,Y,99221,24.0,320.166667
3,1003000126,Y,99223,158.0,651.417722
4,1003000126,Y,99232,205.0,245.614634

In [150]:
#read the em_code file
em=pd.read_csv("EM_code.csv",encoding='utf-8')
#remove that weird \xa0 thing at the end
em['em_code'] = em['em_code'].apply(lambda x: str(x).replace(u'\xa0', u''))

In [151]:
#Summary of null values
df.isnull().sum(axis = 0)

Rndrng_NPI                       0
Rndrng_Prvdr_Mdcr_Prtcptg_Ind    0
HCPCS_Cd                         0
Tot_Srvcs                        0
Avg_Sbmtd_Chrg                   0
dtype: int64

In [152]:
# create a new column for total FFS revenue

df['Total_FFS_Rev'] = df['Tot_Srvcs'] * df['Avg_Sbmtd_Chrg']

In [153]:
df.head()

,Rndrng_NPI,Rndrng_Prvdr_Mdcr_Prtcptg_Ind,HCPCS_Cd,Tot_Srvcs,Avg_Sbmtd_Chrg,Total_FFS_Rev
0,1003000126,Y,99217,40.0,232.275000,9291.000000
1,1003000126,Y,99220,25.0,712.800000,17820.000000
2,1003000126,Y,99221,24.0,320.166667,7684.000000
3,1003000126,Y,99223,158.0,651.417722,102924.000000
4,1003000126,Y,99232,205.0,245.614634,50351.000001

In [154]:
# add a column to indicate if a service is E&M, 0 = no, 1 = yes
df['EM_indicator'] = np.where(df["HCPCS_Cd"].isin(em['em_code']), "1", "0")

In [155]:
# quick check
df.loc[df['HCPCS_Cd'] == '96160']

,Rndrng_NPI,Rndrng_Prvdr_Mdcr_Prtcptg_Ind,HCPCS_Cd,Tot_Srvcs,Avg_Sbmtd_Chrg,Total_FFS_Rev,EM_indicator
4257,1003022500,Y,96160,4108.0,12.000000,49296.0,1
25932,1003173022,Y,96160,21.0,26.190476,550.0,1
35435,1003290966,Y,96160,679.0,11.000000,7469.0,1
37177,1003325952,Y,96160,42.0,35.000000,1470.0,1
46338,1003809724,Y,96160,112.0,8.250000,924.0,1
...,...,...,...,...,...,...,...
10065907,1992703805,Y,96160,5809.0,12.002582,69723.0,1
10074462,1992727234,Y,96160,39.0,8.000000,312.0,1
10105303,1992792568,Y,96160,233.0,16.000000,3728.0,1
10118107,1992858641,Y,96160,522.0,23.304598,12165.0,1
10123344,1992890727,Y,96160,398.0,7.000000,2786.0,1

In [156]:
# count values
df['EM_indicator'].value_counts()

0    8013822
1    2126406
Name: EM_indicator, dtype: int64

In [157]:
df.head(15)

,Rndrng_NPI,Rndrng_Prvdr_Mdcr_Prtcptg_Ind,HCPCS_Cd,Tot_Srvcs,Avg_Sbmtd_Chrg,Total_FFS_Rev,EM_indicator
0,1003000126,Y,99217,40.0,232.275000,9291.000000,0
1,1003000126,Y,99220,25.0,712.800000,17820.000000,0
2,1003000126,Y,99221,24.0,320.166667,7684.000000,0
3,1003000126,Y,99223,158.0,651.417722,102924.000000,0
4,1003000126,Y,99232,205.0,245.614634,50351.000001,0
5,1003000126,Y,99233,605.0,345.236364,208868.000002,0
6,1003000126,Y,99238,40.0,229.475000,9179.000000,0
7,1003000126,Y,99239,243.0,349.259259,84870.000000,0
8,1003000126,Y,99291,27.0,701.444444,18939.000000,0
9,1003000134,Y,88304,253.0,115.000000,29095.000000,0
10,1003000134,Y,88305,5716.0,170.000000,971720.000000,0
11,1003000134,Y,88312,356.0,88.000000,31328.000000,0
12,1003000134,Y,88313,141.0,68.000000,9588.000000,0
13,1003000134,Y,88341,322.0,92.000000,29624.000000,0
14,1003000134,Y,88342,153.0,147.000000,22491.000000,0

In [158]:
#get the sum of FFS revenue, group by NPI

df['npi_total_ffs_rev'] = df['Total_FFS_Rev'].groupby(df['Rndrng_NPI']).transform('sum')

In [159]:
df.head(15)

,Rndrng_NPI,Rndrng_Prvdr_Mdcr_Prtcptg_Ind,HCPCS_Cd,Tot_Srvcs,Avg_Sbmtd_Chrg,Total_FFS_Rev,EM_indicator,npi_total_ffs_rev
0,1003000126,Y,99217,40.0,232.275000,9291.000000,0,5.099260e+05
1,1003000126,Y,99220,25.0,712.800000,17820.000000,0,5.099260e+05
2,1003000126,Y,99221,24.0,320.166667,7684.000000,0,5.099260e+05
3,1003000126,Y,99223,158.0,651.417722,102924.000000,0,5.099260e+05
4,1003000126,Y,99232,205.0,245.614634,50351.000001,0,5.099260e+05
5,1003000126,Y,99233,605.0,345.236364,208868.000002,0,5.099260e+05
6,1003000126,Y,99238,40.0,229.475000,9179.000000,0,5.099260e+05
7,1003000126,Y,99239,243.0,349.259259,84870.000000,0,5.099260e+05
8,1003000126,Y,99291,27.0,701.444444,18939.000000,0,5.099260e+05
9,1003000134,Y,88304,253.0,115.000000,29095.000000,0,1.206298e+06
10,1003000134,Y,88305,5716.0,170.000000,971720.000000,0,1.206298e+06
11,1003000134,Y,88312,356.0,88.000000,31328.000000,0,1.206298e+06
12,1003000134,Y,88313,141.0,68.000000,9588.000000,0,1.206298e+06
13,1003000134,Y,88341,322.0,92.000000,29624.000000,0,1.206298e+06
14,1003000134,Y,88342,153.0,147.000000,22491.000000,0,1.206298e+06

In [160]:
# add a column for EM revenue
df['em_rev'] = np.where(df["EM_indicator"]=='0', "0", df['Total_FFS_Rev'])

In [161]:
df['em_rev'] = df['em_rev'].astype(float)
df['npi_total_ffs_rev'] = df['npi_total_ffs_rev'].round()

In [163]:
# add a column for sum of EM revenue, group by NPI
df['npi_total_em_rev'] = df['em_rev'].groupby(df['Rndrng_NPI']).transform('sum')

In [165]:
# only keeping the first record for each NPI
df_summary = df.drop_duplicates(subset=['Rndrng_NPI'], keep='first')

          Rndrng_NPI Rndrng_Prvdr_Mdcr_Prtcptg_Ind HCPCS_Cd  Tot_Srvcs  \
0         1003000126                             Y    99217       40.0
9         1003000134                             Y    88304      253.0
21        1003000142                             Y    20611       19.0
39        1003000423                             Y    99213       27.0
42        1003000480                             Y    99202       21.0
...              ...                           ...      ...        ...
10140194  1992999551                             Y    81003       56.0
10140205  1992999759                             Y    96372       29.0
10140208  1992999775                             Y    62321       37.0
10140213  1992999825                             Y    30140       11.0
10140226  1992999874                             Y    99223       26.0

          Avg_Sbmtd_Chrg  Total_FFS_Rev EM_indicator  npi_total_ffs_rev  \
0             232.275000         9291.0            0           509926.0
9             115.000000        29095.0            0          1206298.0
21            134.105263         2548.0            0           162110.0
39            100.000000         2700.0            1             5220.0
42            203.000000         4263.0            1            15234.0
...                  ...            ...          ...                ...
10140194        6.660714          373.0            0           193620.0
10140205       25.000000          725.0            0            14235.0
10140208     1500.000000        55500.0            0           633000.0
10140213     1819.500000        20014.5            0           271578.0
10140226      629.576923        16369.0            0            24715.0

          em_rev  npi_total_em_rev
0            0.0          0.000000
9            0.0          0.000000
21           0.0      67145.000000
39        2700.0       2700.000000
42        4263.0      15234.000000
...          ...               ...
10140194     0.0     178844.999997
10140205     0.0      13510.000000
10140208     0.0          0.000000
10140213     0.0     192840.000000
10140226     0.0          0.000000

[1093367 rows x 10 columns]

In [169]:
#drop unrelevant columns
df_summary_final = df_summary.drop(columns=['Rndrng_Prvdr_Mdcr_Prtcptg_Ind', 'HCPCS_Cd','Tot_Srvcs','Avg_Sbmtd_Chrg','Total_FFS_Rev','EM_indicator','em_rev'])

In [172]:
# add a column for % EM revenue
df_summary_final['%npi_total_em_rev'] = (df_summary_final['npi_total_em_rev']/df_summary_final['npi_total_ffs_rev'])*100

In [177]:
# add a column for % non-EM revenue
df_summary_final['%non_npi_total_em_rev'] = 100-(df_summary_final['npi_total_em_rev']/df_summary_final['npi_total_ffs_rev'])*100

In [179]:
df_summary_final['npi_total_em_rev'] = df_summary_final['npi_total_em_rev'].round()
df_summary_final['%npi_total_em_rev'] = df_summary_final['%npi_total_em_rev'].round()
df_summary_final['%non_npi_total_em_rev'] = df_summary_final['%non_npi_total_em_rev'].round()

In [183]:
df_summary_final.rename(columns={'Rndrng_NPI': 'npi'}, errors="raise")

,npi,npi_total_ffs_rev,npi_total_em_rev,%npi_total_em_rev,%non_npi_total_em_rev
0,1003000126,509926.0,0.0,0.0,100.0
9,1003000134,1206298.0,0.0,0.0,100.0
21,1003000142,162110.0,67145.0,41.0,59.0
39,1003000423,5220.0,2700.0,52.0,48.0
42,1003000480,15234.0,15234.0,100.0,0.0
...,...,...,...,...,...
10140194,1992999551,193620.0,178845.0,92.0,8.0
10140205,1992999759,14235.0,13510.0,95.0,5.0
10140208,1992999775,633000.0,0.0,0.0,100.0
10140213,1992999825,271578.0,192840.0,71.0,29.0
10140226,1992999874,24715.0,0.0,0.0,100.0

In [185]:
df_summary_final.to_csv('/Users/zoey/Desktop/FFS/ffs_breakdown.csv',index=False)

FFS income = capitation amount (E&M)  + non-PQEM (non-direct contracting, paid FFS) services

The average % of total FFS revenue that is covered by capitation amount (E&M) is only 16.2%. 
83.8% of the total FFS revenue is not covered by the capitation amount - the providers will continue to pay this amount FFS if they join a DCE/REACH. 

In short, it makes sense that our capitation estimate is lower than their total FFS income since as it is only 16.2% of the total.

In [202]:
df_summary_final['npi_total_ffs_rev'].sum()

345362320367.0

In [203]:
df_summary_final['npi_total_em_rev'].sum()

56041729985.0

In [207]:
# % of total capitation amount 
(56041729985.0/345362320367.0)*100

16.226938111096526